#title {
  color: red;
  font-weight: bold;
  font-size: 60px;
  margin-top: 50px;
  margin-left: 50px;
  font-family: Papyrus;
}
body {
  background-image: url("Pacman.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  margin-left: 25px;
}
.navbar a {
  display: block;
  font-size: 25px;
  font-family: Papyrus;
  font-weight: bold;
  white-space: nowrap;
  padding: 20px 30px;
  text-decoration: none;
  color: #e68a00;
}
.navbar a:hover {
  color: #fff;
  transition: 0.4s;
}
