<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>McGrub</title>

  <link rel="stylesheet" href="http://localhost/delivery-project/python_wsgi/static/css/design.css" />
  <link rel="stylesheet" href="http://localhost/delivery-project/python_wsgi/static/css/about.css" />

  <script src="http://localhost/delivery-project/python_wsgi/static/js/login.js"></script>
</head>

<body>
  <div class="header">
    <h1 id="title" onclick="login(id)">McGrub</h1>
    {% if session.logged_in %}
    <button id="login" onclick="login(id)">Logout</button>
    {% else %}
    <button id="login" onclick="login(id)">Login</button>
    {% endif %}
  </div>
  <div id="nav" class="navbar">
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/menu">Menu</a>
    <a href="#">Order Online</a>
  </div>

  <div class="about-us">
    <div class="inner-width">
      <h2>About Us</h2>
      <div class="line"></div>
      <div class="about-row">
        <div class="columns">
          <p id="prompt">
            We are yes, we are. Restaurant flashes beneath the tourist
            electron. Will the collected stone worry restaurant? Restaurant
            cores a trade underneath the privileged genius. Food chops
            restaurant.
          </p>
        </div>
        <div class="columns">
          <img src="http://localhost/delivery-project/python_wsgi/static/css/Pacman.png" />
          <p>
            989 McGrub Ave, 09909</br>201-321-9876
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>