<!DOCTYPE html>
<html>

<div class="content">
  <h3><span class="menu-underline">Desserts</span></h3>
  <p id="food">
    <span class="food-heading">Carrot Cake</span>
    <br /><br />
    Cake made of carrots.<br />Good.
    <br /><br />
    <b>$6.00</b>
    <div id="price-underline"></div>
  </p>
  <p id="food">
    <span class="food-heading">Oreo Icecream</span>
    <br /><br />
    Oreas with icecream.<br />You can get an icream with oreos on it.
    <br /><br />
    <b>$7.50</b>
    <div id="price-underline"></div>
  </p>
</div>
</body>

</html>