<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>McGrub</title>

  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="http://localhost/delivery-project/python_wsgi/static/css/design.css" />
  <link rel="stylesheet" href="http://localhost/delivery-project/python_wsgi/static/css/login.css" />
  <script async src="http://localhost/delivery-project/python_wsgi/static/js/login.js"></script>
</head>

<body>
  <div class="header">
    <h1 id="title" onclick="login(id)">McGrub</h1>
    {% if session.logged_in %}
    <button id="login" onclick="logout()">Logout</button>
    {% else %}
    <button id="login" onclick="login(id)">Login</button>
    {% endif %}
  </div>
  <div id="nav" class="navbar">
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/menu">Menu</a>
  </div>

  <div class="wrapper">
    <!--Login Form Start-->
    <form class="login-form">
      <h3>Login</h3>
      <div id="login-underline"></div>
      <input type="text" id="user" placeholder="Username" />
      <hr />
      <input type="text" id="password" placeholder="Password" />
      <div class="error" id="login-error"></div>
      <hr />
    </form>
    <button onclick="ajaxLogin(id)" style="display: block; margin:auto;" id="loginPage" class="btns">
      Login
    </button>
    <span>Dont have an account?</span>
    <button onclick="login(id)" id="sign-up-btn" class="btns">Sign Up</button>
    <!--Login Form End-->
  </div>
  <footer id="panel-footer">
    <div class="container">
      <section id="hours" style="float:left;">
        <h3 style="margin-bottom: -10px;">Hours:</h3><br>
        Sunday-Thursday: 11:00am - 10:00pm<br>
        Friday: 11:00am - 1:30am<br>
        Saturday: 11:00am - 3:00am<br>
      </section>
      <section id="address" style="float:left; margin-left: 110px;">
        <h3 style="margin-bottom: -10px;">Address:</h3><br>
        989 McGrub Ave, 09909<br>
        San Jose, Pennsylvania<br>
      </section>
      <section id="contact" style="float:left; margin-left: 110px;">
        <h3 style="margin-bottom: -10px;">Contact Us:</h3><br>
        201-321-9876<br>
        mabdelmenam511@gmail.com<br>
      </section>

    </div>
    <br><br><br><br>
    <div style="font-size:15px;">&copy; Copyright Mohamed Abdelmenam McGrub 2020</div>
  </footer>
</body>

</html>