<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>McGrub</title>

  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="http://localhost:8000/static/css/design.css" />
  <link rel="stylesheet" href="http://localhost:8000/static/css/menu.css" />


  <script async src="http://localhost:8000/static/js/menu.js"></script>
  <script async src="http://localhost:8000/static/js/quantity.js"></script>
  <script async src="https://kit.fontawesome.com/dbb9f1c4b3.js"></script>
  <script async src="http://localhost:8000/static/js/login.js"></script>
</head>

<body>
  <div class="header">
    <h1 id="title" onclick="login(id)">McGrub</h1>
    {% if session.logged_in %}
    <button id="login" onclick="logout()">Logout</button>

    <div class="dropdown">
      <button id="shopping-bag" onclick="dropdown(id)"><i class="fas fa-shopping-bag"></i></button>
      <div id="dropdown-content">
        <h4 id="dropdown-title">Your Order</h4>
        <table id="dropdown-table">
          {% for col in data %}
          <!-- WILL NEED TO DELETE THE CURRENT ROW AND THE ROW UNDER IT BECCAUSE OF THE ROW WITH ALL THE id="no-line"-->
          <tr>
            <td>{{col.2}}</td>
            <td style="color:darkcyan">{{col.3}}</td>
            <td onclick="deleteFood(this, {{col.0}})"><i class="fa fa-trash" aria-hidden="true"></i>
            </td>
            <td id="single-price-{{col.0}}">{{col.4}}</td>
          </tr>
          <tr>
            <td class='no-line' id="{{col.0}}" colspan='4' onclick="deleteFood(this, null)">{{col.5}}</td>
            <td class='no-line'></td> <!-- required to make line seperations between rows-->
            <td class='no-line'></td>
            <td class='no-line'></td>
          </tr>
          {% endfor %}
        </table>
        <div id="line-under-table"></div>
        <h5 id="dropdown-subtotal">Items Subtotal:</h5>
        <h5 style="float:right;margin-right:25%;" id="subtotal-value">{{subtotal}}</h5>
        <div id="line-under-table"></div>
        <button id="dropdown-btn" onclick="login(id)">Proceed to Checkout</button>
      </div>
    </div>

    {% else %}
    <button id="login" onclick="login(id)">Login</button>
    {% endif %}
  </div>
  <div id="nav" class="navbar" style="margin-top: 35px;">
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/menu">Menu</a>
    <a href="#">Order Online</a>
  </div>

  <div class="wrapper">
    <!--menu-nav-->
    <div class="menu-navbar">
      <a href="#" style="margin-left:80px;" onclick="loadCategory('content', 'http://localhost:8000/entrees');return false;">Entrees</a>
      <a href="#" onclick="loadCategory('content', 'http://localhost:8000/lunch');return false;">Lunch</a>
      <a href="#" onclick="loadCategory('content', 'http://localhost:8000/swich-pasta');return false;">Sandwiches and
        Pastas</a>
      <a href="#" onclick="loadCategory('content', 'http://localhost:8000/desserts');return false;">Desserts</a>
    </div>

    <div class="modal">
      <!--MODAL-->
      <div class="modal-content">
        <button class="modal-btn" id="modal-close">
          <i class="fas fa-times"></i>
        </button>
        <img src="../static/images/egg_soup.jpg" style='width:100%;height:300px;'>
        <div id="modal-title">
          <h3 id="modal-food-heading"></h3>
          <h2 id="modal-food-price"></h2>
        </div>
        <hr />
        <h2>Food Instructions</h2>
        <div style="padding-left:5px;">
          <textarea id="food-instructions" placeholder="Food Instructions"></textarea>
        </div>
        <hr />
        <h2 style="display: inline-block;padding-right: 10px;">Quantity</h2>
        <button id="quantity-minus" onclick=foodQuantity(id)>
          <i class="fa fa-minus"></i>
        </button>
        <p id="quantity" style="display:inline-block;"> 0 </p>
        <button id="quantity-plus" onclick=foodQuantity(id)>
          <i class="fa fa-plus"></i>
        </button>
        <button id="add-button" disabled>Add</button>
        <p id="final-price" style="display:inline-block;"></p>
      </div>
    </div>
    <!--MODAL-->

    <div id="content">
      <h3><span class="menu-underline">Entrees</span></h3>
      <p id="food">
        <span class="food-heading">Egg Soup</span>
        <br /><br />
        The Soup with eggs and is very good.<br />Comes with eggs and also
        vegetables<br /><br />
        <b>$3.50</b>
        <div id="price-underline"></div>
      </p>
      <p id="food">
        <span class="food-heading">Veggie Pot Pie</span>
        <br /><br />
        Amazing Pie with Veggies.<br />Really good pie for sure.
        <br /><br />
        <b>$7.00</b>
        <div id="price-underline"></div>
      </p>
      <p id="food">
        <span class="food-heading">Veggie Burger</span>
        <br /><br />
        Burger made out of complete veggies for vegans<br />No meat, no chicken, just plants.
        <br /><br />
        <b>$8.50</b>
        <div id="price-underline"></div>
      </p>
      <p id="food">
        <span class="food-heading">Sweet Potato Fries</span>
        <br /><br />
        Fries made from Sweet Potato.<br />Fried is Soybean oil, don't worry.
        <br /><br />
        <b>$4.50</b>
        <div id="price-underline"></div>
      </p>
    </div>

  </div>
  <footer id="panel-footer">
    <div class="container">
      <section id="hours" style="float:left;">
        <h3 style="margin-bottom: -10px;">Hours:</h3><br>
        Sunday-Thursday: 11:00am - 10:00pm<br>
        Friday: 11:00am - 1:30am<br>
        Saturday: 11:00am - 3:00am<br>
      </section>
      <section id="address" style="float:left; margin-left: 110px;">
        <h3 style="margin-bottom: -10px;">Address:</h3><br>
        989 McGrub Ave, 09909<br>
        San Jose, Pennsylvania<br>
      </section>
      <section id="contact" style="float:left; margin-left: 110px;">
        <h3 style="margin-bottom: -10px;">Contact Us:</h3><br>
        201-321-9876<br>
        mabdelmenam511@gmail.com<br>
      </section>

    </div>
    <br><br><br><br>
    <div style="font-size:15px; text-align:center;">&copy; Copyright Mohamed Abdelmenam McGrub 2020</div>
  </footer>
</body>

</html>