<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>McGrub</title>

  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="http://localhost:8000/static/css/design.css" />
  <link rel="stylesheet" href="http://localhost:8000/static/css/menu.css" />


  <script async src="http://localhost:8000/static/js/menu.js"></script>
  <script async src="http://localhost:8000/static/js/quantity.js"></script>
  <script async src="https://kit.fontawesome.com/dbb9f1c4b3.js"></script>
  <script async src="http://localhost:8000/static/js/login.js"></script>
</head>

<body>
  <div class="header">
    <h1 id="title" onclick="login(id)">McGrub</h1>
    {% if session.logged_in %}
    <button id="login" onclick="logout()">Logout</button>

    <div class="dropdown">
      <button id="shopping-bag" onclick="dropdown()"><i class="fas fa-shopping-bag"></i></button>
      <div id="dropdown-content">
        <h4 id="dropdown-title">Your Order</h4>
        <table>
          <tr>
            <td>Q</td>
            <td>Food Name</td>
            <td>X</td>
            <td>$3.56</td>
          </tr>
          <tr>
            <td>Q2</td>
            <td>Food 2</td>
            <td>X</td>
            <td>$10.77</td>
          </tr>
        </table>
      </div>
    </div>

    {% else %}
    <button id="login" onclick="login(id)">Login</button>
    <p>yo</p>
    {% endif %}
  </div>
  <div id="nav" class="navbar" style="margin-top: 35px;">
    <a href="http://localhost:8000/about">About</a>
    <a href="http://localhost:8000/menu">Menu</a>
    <a href="#">Order Online</a>
  </div>

  <div class="wrapper">
    <!--menu-nav-->
    <div class="menu-navbar">
      <a href="#" style="margin-left:80px;" onclick="loadCategory('content', 'http://localhost:8000/entrees');return false;">Entrees</a>
      <a href="#" onclick="loadCategory('content', 'http://localhost:8000/lunch');return false;">Lunch</a>
      <a href="#" onclick="loadCategory('content', 'http://localhost:8000/swich-pasta');return false;">Sandwiches and
        Pastas</a>
      <a href="#" onclick="loadCategory('content', 'http://localhost:8000/desserts');return false;">Desserts</a>
    </div>

    <div class="modal">
      <!--MODAL-->
      <div class="modal-content">
        <button class="modal-btn" id="modal-close">
          <i class="fas fa-times"></i>
        </button>
        <img src="../static/images/egg_soup.jpg" style='width:100%;height:300px;'>
        <div id="modal-title">
          <h3 id="modal-food-heading"></h3>
          <h2 id="modal-food-price"></h2>
        </div>
        <hr />
        <h2>Food Instructions</h2>
        <div style="padding-left:5px;">
          <textarea id="food-instructions" placeholder="Food Instructions"></textarea>
        </div>
        <hr />
        <h2 style="display: inline-block;padding-right: 10px;">Quantity</h2>
        <button id="quantity-minus" onclick=foodQuantity(id)>
          <i class="fa fa-minus"></i>
        </button>
        <p id="quantity" style="display:inline-block;"> 0 </p>
        <button id="quantity-plus" onclick=foodQuantity(id)>
          <i class="fa fa-plus"></i>
        </button>
        <button id="add-button">Add</button>
        <p id="final-price" style="display:inline-block;"></p>
      </div>
    </div>
    <!--MODAL-->

    <div id="content">
      <h3><span class="menu-underline">Entrees</span></h3>
      <p id="food">
        <span class="food-heading">Egg Soup</span>
        <br /><br />
        The Soup with eggs and is very good.<br />Comes with eggs and also
        vegetables<br /><br />
        <b>$3.50</b>
        <div id="price-underline"></div>
      </p>
      <p id="food">
        <span class="food-heading">Veggie Pot Pie</span>
        <br /><br />
        Amazing Pie with Veggies.<br />Really good pie for sure.
        <br /><br />
        <b>$7.00</b>
        <div id="price-underline"></div>
      </p>
      <p id="food">
        <span class="food-heading">Veggie Burger</span>
        <br /><br />
        Burger made out of complete veggies for vegans<br />No meat, no chicken, just plants.
        <br /><br />
        <b>$8.50</b>
        <div id="price-underline"></div>
      </p>
      <p id="food">
        <span class="food-heading">Sweet Potato Fries</span>
        <br /><br />
        Fries made from Sweet Potato.<br />Fried is Soybean oil, don't worry.
        <br /><br />
        <b>$4.50</b>
        <div id="price-underline"></div>
      </p>
    </div>

  </div>
</body>

</html>