<!DOCTYPE html>
<html>
<div class="content">
  <h3><span class="menu-underline">Sandwiches & Pastas</span></h3>
  <p id="food">
    <span class="food-heading">Cucumber Sandwich</span>
    <br /><br />
    Sandwich made out of cucumbers.<br />Contains cucumbers and is good.
    <br /><br />
    <b>$6.00</b>
    <div id="price-underline"></div>
  </p>
  <p id="food">
    <span class="food-heading">Chicken Sandwich</span>
    <br /><br />
    Chicken with bread for sure.<br />You can get ketchup and hot sauce.
    <br /><br />
    <b>$7.50</b>
    <div id="price-underline"></div>
  </p>
  <p id="food">
    <span class="food-heading">Italian Hero</span>
    <br /><br />
    Made of Italian bread, its good.<br />Eat it because its food.
    <br /><br />
    <b>$6.25</b>
    <div id="price-underline"></div>
  </p>
</div>
</div>
</body>

</html>