.wrapper{
    width: 850px;
    margin-right: auto;
    margin-left: auto;
}
.menu-navbar a{
    text-align:center;
    font-size:25px;
    color: black;
    font-weight:bold;
    font-family: Rockwell;
    text-decoration: none;
    margin-right:25px;
}
div{
    display: block;
}
