.about-us {
  /*overflow: auto;*/
  margin-top: 30px;
  width: 700px;
  height: 450px;
  background: #ffffff;
  padding: 20px 0;
  font-family: sans-serif;
  border: 5px solid #000000;
  border-radius: 5px;

  position: relative;
  left: 570px;
}
.about-us h2 {
  text-align: center;
}
.inner-width {
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}
.line {
  width: 125px;
  height: 3px;
  background: #ca8504;
  margin: 20px auto;
}
.about-row {
  display: flex;
  flex-wrap: wrap;
}
.columns {
  flex: 50%;
  /*float: left;
  width: 50%;
  padding: 10px;*/
}
p {
  line-height: 27px;
  font-size: 16px;
  font-family: "Noticia Text", sans-serif;
  font-weight: bold;
}
#map {
  height: 400px;
  width: 600px;
}
@media screen and (max-width: 700px) {
  .columns {
    flex: 100%;
  }
}
