#title {
  color: orange;
  font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 50px;
  font-family: Papyrus;
  width: 150px;
}
#title:hover {
  cursor: pointer;
}
.header {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #9c39df;
}
body {
  background-color: rgb(238, 232, 183);
  /*background-image: url("stars.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;*/
}
.navbar {
  height: 100%;
  position: fixed;
  float: right;
  margin-left: 25px;
}
.navbar a {
  display: block;
  font-size: 25px;
  font-family: Papyrus;
  font-weight: bold;
  white-space: nowrap;
  padding: 20px 30px;
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.navbar a:hover {
  color: rgb(153, 0, 255);
  transition: 0.4s;
}
#login {
  text-align: right;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Rockwell;
  text-decoration: none;
  float: right;
  margin-top: -78.5px;
  margin-right: 75px;

  border: 2.5px solid #f13c3c; /*Current view or HOVER OFF */
  border-radius: 25px;
  padding: 10px;
}
#login:hover {
  border: 2.5px solid #4dff03;
  border-radius: 25px;
  transition: 0.4s;
  cursor: pointer;
}
#login:active {
  background-color: #df4b07;
}
#login:focus {
  outline: none;
}

/**FOOTER**/
footer{
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  background-color: #9c39df;
}
#panel-footer{
  margin-top:40px;
  margin-right:auto;
  margin-left:auto;
  font-family: Rockwell;
  font-size: 16px;
  padding: 20px;
  display: 'block';
}
.container{
  width: 60%;
  margin:0 auto;
  padding-bottom: 20px;
}
/*main img*/
#main-img{
    margin-top: 30px;
    width: 700px;
    height: 400px;
    background-image: url('http://localhost/delivery-project/python_wsgi/static/images/pizza.jpg');
    padding: 20px 0;
  
    position: relative;
    left: 570px;
}