.wrapper {
  width: 850px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 220px;
}
.login-form {
  text-align: center;
}
/*Login h3*/
.login-form h3 {
  font-family: Rockwell;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}
#login-underline {
  width: 350px;
  height: 3px;
  background: #000000;
  margin: 13px auto;
}
/*Login h3*/
/*input boxes start*/
input[type="text"],
input[type="email"] {
  border-radius: 15px;
  padding: 8px;
  margin-bottom: 15px;
  font-family: Rockwell;
  font-size: 15px;
  outline: none;
}
#password {
  -webkit-text-security: disc;
}
hr {
  width: 230px;
  border-width: 1.5px;
  border-color: darkorchid;
}
/*input boxes end*/
/*sign up button start*/
.btns {
  color: black;
  font-weight: bold;
  font-size: 19px;
  font-family: Rockwell;
  text-decoration: none;
  border: 2.5px solid #f13c3c; /*Current view or HOVER OFF */
  border-radius: 25px;
  padding: 10px;
}
.btns:hover {
  border: 2.5px solid #4dff03;
  border-radius: 25px;
  transition: 0.4s;
  cursor: pointer;
}
.btns:active {
  background-color: #df4b07;
}
.btns:focus {
  outline: none;
}
span {
  /*Text next to button*/
  text-align: center;
  margin-left: 250px;
  padding-right: 23px;
  font-size: 19px;
  font-family: Rockwell;
  font-weight: bold;
}
/*sign up button end*/
.error {
  font-family: Rockwell;
  font-size: 12.5px;
  color: red;
}
