.wrapper {
  width: 850px;
  margin-right: auto;
  margin-left: auto;
}
/*navbar-start*/
.menu-navbar {
  margin-top: 200px;
}
.menu-navbar a {
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: Rockwell;
  text-decoration: none;
  margin-right: 25px;

  border: 5px solid #f13c3c; /*Current view or HOVER OFF */
  border-radius: 0.7px;
  padding: 3px;
}
.menu-navbar a:active {
  background-color: #9c39df;
}
div {
  display: block;
}
.menu-navbar a:hover {
  border: 5px solid #9900ff;
  border-radius: 0.7px;
  transition: 0.4s;
}
/*navbar-end*/
/*category-title--start*/
#content h3 {
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
  font-family: Papyrus;
  padding-top: 50px;
}
.menu-underline {
  width: 125px;
  height: 3px;
  border-bottom: 2px solid black;
  margin: 20px auto;
}
/*category-title--end*/
#content {
  background-image: url("../menu/menu-background.jpg");
  text-align: center;
  font-size: 17px;
  font-family: Georgia, serif;
} /*mainly formatting the <p> tags, but will generalize*/
/* start Styling for <p> tags*/
.food-heading {
  font-size: 22px;
  font-weight: bold;
}
.plus-btn {
  background-color: #9a0d0d;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 7px 10px;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}
.plus-btn:hover {
  background-color: #572acb;
}
#price-underline {
  width: 350px;
  height: 3px;
  background: #000000;
  margin: 13px auto;
}
/*end*/
