.wrapper {
  width: 850px;
  margin-right: auto;
  margin-left: auto;
}
/*navbar-start*/
.menu-navbar {
  margin-top: 200px;
}
.menu-navbar a {
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: Rockwell;
  text-decoration: none;
  margin-right: 25px;

  border: 5px solid #f13c3c; /*Current view or HOVER OFF */
  border-radius: 0.7px;
  padding: 3px;
}
.menu-navbar a:active {
  background-color: #9c39df;
}
div {
  display: block;
}
.menu-navbar a:hover {
  border: 5px solid #9900ff;
  border-radius: 0.7px;
  transition: 0.4s;
}
/*navbar-end*/
/*category-title--start*/
#content h3 {
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
  font-family: Papyrus;
  padding-top: 50px;
}
.menu-underline {
  width: 125px;
  height: 3px;
  border-bottom: 2px solid black;
  margin: 20px auto;
}
/*category-title--end*/
#content {
  background-image: url("http://localhost:8000/static/images/menu-background.jpg");
  text-align: center;
  font-size: 17px;
  font-family: Georgia, serif;
  margin-bottom: 220px;
} /*mainly formatting the <p> tags, but will generalize*/
/* start Styling for <p> tags*/
.food-heading {
  font-size: 22px;
  font-weight: bold;
}
.plus-btn {
  background-color: #9a0d0d;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 7px 10px;
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}
.plus-btn:hover {
  background-color: #572acb;
}
#price-underline {
  width: 350px;
  height: 3px;
  background: #000000;
  margin: 13px auto;
}
/*end*/

/* everything modal related */
.modal {
  content: "";
  display: none;
  font-family: Georgia, serif;
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-bottom: 205px;
  background-color: rgba(0,0,0,0.8);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;  /*15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;

  width: 70%; /* Could be more or less, depending on screen size */
  max-width: 600px;
  top: 20%;
  left: 50%;
  position:fixed;

  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 200ms ease-out;
}
hr {
  width: 75%;
  border-width: 1.5px;
  border-color: darkorchid;
  margin: 30px;
}
#modal-close{
  border: none;
  border-radius: 2px;
  color: black;
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
input[type="text"],{
  width: 60%;
  height: 30%;
  border-radius: 15px;
  margin-bottom: 15px;
  font-family: Rockwell;
  font-size: 15px;
  outline: none;
}
#modal-title{/*Food Name and Price displays*/
  background-color: #ded7d8;
  padding: 10px;
  width: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;
}
.modal h2{
  margin-top: 10px;
  font-size: 15px;
}
.modal h3{
  font-size:17px;
  margin-bottom: 2px;
}
#food-instructions{
  display: block;
  width: 90%;
  height: 75px;
  margin-bottom: 20px;
}
#add-button{
  padding: 5px 25px;
  font-size: 15px;
  float: right;
  margin-right: 20%;
  margin-top: 10px;
}
/*BAG CSS*/
#shopping-bag{
  font-size: 20px;
  text-decoration: none;
  float: right;
  margin-top: -78.5px;
  margin-right:20px;
  border: 2.5px solid rgb(70, 95, 112);
  border-radius: 25px;
  padding: 10px;
}
#shopping-bag:hover{
  transition: 0.4s;
  cursor: pointer;
  border: 2.5px solid rgb(0, 0, 0)
}
#shopping-bag:active{
  background-color: gray;
}
/*END BAG CSS*/
/*DROPDOWN*/
#dropdown-content{
  display: none;
  float:right;
  border-radius: 15px;
  padding-left: 10px;
  background-color: white;
  font-size: 13.5px;
  font-family: Georgia;
  height: auto;
  width: 15%;
  color: black;

  -webkit-transition: opacity 2.0s ease-in;
}
#dropdown-title{
  display:block;
  padding-top: 15px;
  border-bottom: 1.5px solid black;
  padding-bottom: 5px;
}
table{
  border-collapse: collapse;
  table-layout:fixed;
}
#line-under-table{
  border-bottom: 1.5px solid black;
  padding-bottom: 5px;
}
th, .no-line{
  border-bottom: 3px solid #4700ff;
  font-size: 11px;
  padding-bottom: 7px;
  padding-top: 10px;
  padding-left: 20px;
}
tr td:not(:first-child){
  padding-left:10px;
   word-wrap:break-word; 
}
#dropdown-subtotal{
  display:inline-block;
  padding-right:25%;
  margin-bottom: -5%;
}
#dropdown-btn{
    font-size: 13.5px;
    color: black;
    font-weight: bold;
    font-family: Georgia;
    text-decoration: none;
    border: 2.5px solid #525252;
    border-radius: 5px;
    padding: 10px;
    margin-left:15%;
    margin-top:3%;
    margin-bottom: 2%;
}
#dropdown-btn:hover{
  cursor: pointer;
}
/*END DROPDOWN*/