<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>McGrub</title>

  <link rel="stylesheet" href="http://localhost/delivery-project/static/css/design.css" />
  <link rel="stylesheet" href="http://localhost/delivery-project/static/css/about.css" />
  <script src="http://localhost/delivery-project/static/js/login.js"></script>
</head>

<body>
  <div class="header">
    <h1 id="title" onclick="login(id)">McGrub</h1>
    <button id="login" onclick="login(id)">Login</button>
  </div>
  <div id="nav" class="navbar">
    <a href="http://localhost/delivery-project/templates/about.html">About</a>
    <a href="http://localhost/delivery-project/templates/menu.html">Menu</a>
    <a href="#">Order Online</a>
  </div>
</body>

</html>